data/.flows.json.backup
[{"id":"341a471.8adb6b8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"22c56202.05a22e","type":"ui_tab","z":"","name":"DICOMO2020 Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed2e081d.740808","type":"ui_group","z":"","name":"全体状況","tab":"22c56202.05a22e","order":1,"disp":true,"width":"6","collapse":false},{"id":"565368d5.055898","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"DICOMO2020ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"baf8365a.f75578","type":"ui_group","z":"","name":"大会場","tab":"22c56202.05a22e","order":2,"disp":true,"width":4,"collapse":false},{"id":"9f409ede.dba95","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"726f9524.2071cc","type":"ui_group","z":"","name":"A会場","tab":"22c56202.05a22e","order":3,"disp":true,"width":"4","collapse":false},{"id":"6fdf9254.73f41c","type":"ui_spacer","name":"spacer","group":"726f9524.2071cc","order":1,"width":1,"height":1},{"id":"71094355.94d9dc","type":"ui_text","z":"341a471.8adb6b8","group":"ed2e081d.740808","order":1,"width":0,"height":0,"name":"","label":"news","format":"{{msg.payload}}","layout":"col-center","x":550,"y":60,"wires":[]},{"id":"14439c51.d899e4","type":"ui_template","z":"341a471.8adb6b8","group":"baf8365a.f75578","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":480,"y":160,"wires":[["bcf4fffc.75201"]]},{"id":"b39c405.50aedc","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":60,"wires":[["252c5874.484148"]]},{"id":"7851fd0d.1b7bb4","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":160,"wires":[["67fd6e1c.b3a2e"]]},{"id":"bcf4fffc.75201","type":"debug","z":"341a471.8adb6b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"ba4c404a.236f3","type":"ui_gauge","z":"341a471.8adb6b8","name":"","group":"ed2e081d.740808","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":360,"wires":[]},{"id":"85aae8cf.e9dd28","type":"ui_text","z":"341a471.8adb6b8","group":"ed2e081d.740808","order":2,"width":0,"height":0,"name":"","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":430,"y":280,"wires":[]},{"id":"bc9a08d1.b63f78","type":"ui_chart","z":"341a471.8adb6b8","name":"","group":"ed2e081d.740808","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":440,"wires":[[]]},{"id":"fad54e2f.92d7b","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":320,"wires":[["ba4c404a.236f3","bc9a08d1.b63f78","85aae8cf.e9dd28"]]},{"id":"67fd6e1c.b3a2e","type":"template","z":"341a471.8adb6b8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>15:00- 特別招待講演</p>\n<a href=\"http://dicomo.org\">大会場へ</a>","output":"str","x":320,"y":160,"wires":[["14439c51.d899e4"]]},{"id":"82491999.370228","type":"comment","z":"341a471.8adb6b8","name":"全体","info":"","x":70,"y":260,"wires":[]},{"id":"c73bd54e.b80c98","type":"comment","z":"341a471.8adb6b8","name":"大会場","info":"","x":70,"y":500,"wires":[]},{"id":"dfd62539.cd5008","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":580,"wires":[["32313d52.af07c2","9ce0bf6c.f9502"]]},{"id":"9ce0bf6c.f9502","type":"ui_text","z":"341a471.8adb6b8","group":"baf8365a.f75578","order":2,"width":0,"height":0,"name":"","label":"参加者","format":"{{msg.payload}} 人","layout":"row-spread","x":390,"y":560,"wires":[]},{"id":"32313d52.af07c2","type":"ui_gauge","z":"341a471.8adb6b8","name":"","group":"baf8365a.f75578","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":620,"wires":[]},{"id":"252c5874.484148","type":"template","z":"341a471.8adb6b8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":360,"y":60,"wires":[["71094355.94d9dc"]]},{"id":"c564f8ab.112c38","type":"comment","z":"341a471.8adb6b8","name":"A会場","info":"","x":90,"y":680,"wires":[]},{"id":"29dcc697.90ec9a","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":760,"wires":[["c3823408.fa89b8","958b93d7.873e6"]]},{"id":"c3823408.fa89b8","type":"ui_text","z":"341a471.8adb6b8","group":"726f9524.2071cc","order":2,"width":0,"height":0,"name":"","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":320,"y":740,"wires":[]},{"id":"958b93d7.873e6","type":"ui_gauge","z":"341a471.8adb6b8","name":"","group":"726f9524.2071cc","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":800,"wires":[]}]