data/flows.json
[{"id":"341a471.8adb6b8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"a9b2da71.71ff88","type":"subflow","name":"参加者数取得","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3c4f0aa3.efdf26"}]}],"out":[{"x":700,"y":280,"wires":[{"id":"7dbcdea8.0d913","port":0}]},{"x":700,"y":160,"wires":[{"id":"877ce54c.8e93b8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":700,"y":380,"wires":[{"id":"a7ff4e91.ae28f","port":0}]}},{"id":"22c56202.05a22e","type":"ui_tab","z":"","name":"DICOMO2020 Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed2e081d.740808","type":"ui_group","z":"","name":"全体状況","tab":"22c56202.05a22e","order":1,"disp":true,"width":"6","collapse":false},{"id":"565368d5.055898","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"DICOMO2020ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"baf8365a.f75578","type":"ui_group","z":"","name":"大会場","tab":"22c56202.05a22e","order":2,"disp":true,"width":4,"collapse":false},{"id":"9f409ede.dba95","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"726f9524.2071cc","type":"ui_group","z":"","name":"A会場","tab":"22c56202.05a22e","order":3,"disp":true,"width":"4","collapse":false},{"id":"6fdf9254.73f41c","type":"ui_spacer","name":"spacer","group":"726f9524.2071cc","order":1,"width":1,"height":1},{"id":"c5d59309.bace","type":"JsonWebToken_config","z":"a9b2da71.71ff88","name":"dicomo","secret":"QhD1QlaMzrngTH04oEpY7u3Y5NccHbyN5ywn"},{"id":"71094355.94d9dc","type":"ui_text","z":"341a471.8adb6b8","group":"ed2e081d.740808","order":1,"width":0,"height":0,"name":"","label":"news","format":"{{msg.payload}}","layout":"col-center","x":590,"y":240,"wires":[]},{"id":"14439c51.d899e4","type":"ui_template","z":"341a471.8adb6b8","group":"baf8365a.f75578","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":560,"wires":[["bcf4fffc.75201"]]},{"id":"b39c405.50aedc","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":240,"wires":[["252c5874.484148"]]},{"id":"7851fd0d.1b7bb4","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":540,"wires":[["67fd6e1c.b3a2e"]]},{"id":"bcf4fffc.75201","type":"debug","z":"341a471.8adb6b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":660,"wires":[]},{"id":"ba4c404a.236f3","type":"ui_gauge","z":"341a471.8adb6b8","name":"","group":"ed2e081d.740808","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":140,"wires":[]},{"id":"85aae8cf.e9dd28","type":"ui_text","z":"341a471.8adb6b8","group":"ed2e081d.740808","order":2,"width":0,"height":0,"name":"","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":430,"y":100,"wires":[]},{"id":"bc9a08d1.b63f78","type":"ui_chart","z":"341a471.8adb6b8","name":"","group":"ed2e081d.740808","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":180,"wires":[[]]},{"id":"fad54e2f.92d7b","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["ba4c404a.236f3","bc9a08d1.b63f78","85aae8cf.e9dd28"]]},{"id":"67fd6e1c.b3a2e","type":"template","z":"341a471.8adb6b8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>15:00- 特別招待講演</p>\n<a href=\"http://dicomo.org\">大会場へ</a>","output":"str","x":380,"y":560,"wires":[["14439c51.d899e4"]]},{"id":"82491999.370228","type":"comment","z":"341a471.8adb6b8","name":"全体","info":"","x":70,"y":80,"wires":[]},{"id":"c73bd54e.b80c98","type":"comment","z":"341a471.8adb6b8","name":"大会場","info":"","x":70,"y":380,"wires":[]},{"id":"dfd62539.cd5008","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":460,"wires":[["32313d52.af07c2","9ce0bf6c.f9502"]]},{"id":"9ce0bf6c.f9502","type":"ui_text","z":"341a471.8adb6b8","group":"baf8365a.f75578","order":2,"width":0,"height":0,"name":"","label":"参加者","format":"{{msg.payload}} 人","layout":"row-spread","x":390,"y":440,"wires":[]},{"id":"32313d52.af07c2","type":"ui_gauge","z":"341a471.8adb6b8","name":"","group":"baf8365a.f75578","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":500,"wires":[]},{"id":"252c5874.484148","type":"template","z":"341a471.8adb6b8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":400,"y":240,"wires":[["71094355.94d9dc"]]},{"id":"c564f8ab.112c38","type":"comment","z":"341a471.8adb6b8","name":"A会場","info":"","x":70,"y":740,"wires":[]},{"id":"29dcc697.90ec9a","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["c3823408.fa89b8","958b93d7.873e6"]]},{"id":"c3823408.fa89b8","type":"ui_text","z":"341a471.8adb6b8","group":"726f9524.2071cc","order":2,"width":0,"height":0,"name":"","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":610,"y":760,"wires":[]},{"id":"958b93d7.873e6","type":"ui_gauge","z":"341a471.8adb6b8","name":"","group":"726f9524.2071cc","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":820,"wires":[]},{"id":"7a57ef37.f51c8","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["3eb54fd.f2695b"]]},{"id":"877ce54c.8e93b8","type":"http request","z":"a9b2da71.71ff88","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":160,"wires":[["7dbcdea8.0d913","a7ff4e91.ae28f"]]},{"id":"65d58b73.ac4fd4","type":"debug","z":"341a471.8adb6b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":980,"wires":[]},{"id":"c75a5824.1ea3a8","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["4cbcc5c.4213b3c"]]},{"id":"3c4f0aa3.efdf26","type":"template","z":"a9b2da71.71ff88","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.zoom.us/v2/metrics/meetings/{{meeting}}","output":"str","x":220,"y":80,"wires":[["c75a5824.1ea3a8"]]},{"id":"3eb54fd.f2695b","type":"change","z":"341a471.8adb6b8","name":"","rules":[{"t":"set","p":"meeting","pt":"msg","to":"97088408804","tot":"str"},{"t":"set","p":"token","pt":"msg","to":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOm51bGwsImlzcyI6Im02Wm9McmNwVGV1U2ZXNzM1QzA4dHciLCJleHAiOjE1OTM0NDI4MDAsImlhdCI6MTU5MTMyNTE0MH0.xLBdbuOOecqUSck28NUHcSTxWZK5QIKv4mQKIuTaRL4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":960,"wires":[["d63cdc97.f3778"]]},{"id":"7dbcdea8.0d913","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.participants","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[[]]},{"id":"d63cdc97.f3778","type":"subflow:a9b2da71.71ff88","z":"341a471.8adb6b8","x":560,"y":960,"wires":[["c3823408.fa89b8","958b93d7.873e6"],["65d58b73.ac4fd4"]]},{"id":"4cbcc5c.4213b3c","type":"template","z":"a9b2da71.71ff88","name":"","field":"headers.authorization","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bearer {{token}}","output":"str","x":300,"y":160,"wires":[["877ce54c.8e93b8"]]},{"id":"a7ff4e91.ae28f","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"statusCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[[]]}]