data/flows.json
[{"id":"341a471.8adb6b8","type":"tab","label":"全体","disabled":false,"info":""},{"id":"d42bbd3b.c8901","type":"tab","label":"大会場","disabled":false,"info":""},{"id":"f6654017.66c04","type":"tab","label":"A,B","disabled":false,"info":""},{"id":"fa8c934.f6f4f7","type":"tab","label":"C,D","disabled":false,"info":""},{"id":"d04513a0.86fb6","type":"tab","label":"E,F","disabled":false,"info":""},{"id":"3944cb24.e17094","type":"tab","label":"G,H","disabled":false,"info":""},{"id":"a9b2da71.71ff88","type":"subflow","name":"参加者数取得","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"f8fd2860.518978"}]}],"out":[{"x":720,"y":420,"wires":[{"id":"7dbcdea8.0d913","port":0}]},{"x":740,"y":280,"wires":[{"id":"877ce54c.8e93b8","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["参加者数","デバッグ"],"status":{"x":740,"y":360,"wires":[{"id":"a7ff4e91.ae28f","port":0}]}},{"id":"8231f940.1fe3b8","type":"subflow","name":"ミーティングID設定","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"bdd3d5c4.6d2778"}]}],"out":[{"x":620,"y":220,"wires":[{"id":"4843b498.e2caec","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"22c56202.05a22e","type":"ui_tab","z":"","name":"DICOMO2020 Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed2e081d.740808","type":"ui_group","z":"","name":"全体状況","tab":"22c56202.05a22e","order":1,"disp":true,"width":"6","collapse":false},{"id":"565368d5.055898","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"DICOMO2020ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"baf8365a.f75578","type":"ui_group","z":"","name":"大会場","tab":"22c56202.05a22e","order":2,"disp":false,"width":"4","collapse":false},{"id":"726f9524.2071cc","type":"ui_group","z":"","name":"A会場","tab":"22c56202.05a22e","order":4,"disp":true,"width":"4","collapse":false},{"id":"9075b242.6357","type":"ui_group","z":"","name":"B会場","tab":"22c56202.05a22e","order":5,"disp":true,"width":"4","collapse":false},{"id":"e0edd77b.215408","type":"ui_group","z":"","name":"C会場","tab":"22c56202.05a22e","order":6,"disp":true,"width":"4","collapse":false},{"id":"f6dc8741.27ace8","type":"ui_group","z":"","name":"D会場","tab":"22c56202.05a22e","order":7,"disp":true,"width":"4","collapse":false},{"id":"8ea25c89.61e76","type":"ui_group","z":"","name":"E会場","tab":"22c56202.05a22e","order":8,"disp":true,"width":"4","collapse":false},{"id":"dea56d69.07e58","type":"ui_group","z":"","name":"F会場","tab":"22c56202.05a22e","order":9,"disp":true,"width":"4","collapse":false},{"id":"ed6a8f5b.c16f4","type":"ui_group","z":"","name":"G会場","tab":"22c56202.05a22e","order":10,"disp":true,"width":"4","collapse":false},{"id":"17780cdc.5cd803","type":"ui_group","z":"","name":"H会場","tab":"22c56202.05a22e","order":11,"disp":true,"width":"4","collapse":false},{"id":"d2085943.d5af58","type":"ui_spacer","name":"spacer","group":"baf8365a.f75578","order":4,"width":1,"height":1},{"id":"b39c405.50aedc","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"準備中","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["7e18a2df.ce9a1c"]]},{"id":"ba4c404a.236f3","type":"ui_gauge","z":"341a471.8adb6b8","name":"全体ゲージ","group":"ed2e081d.740808","order":3,"width":"6","height":"4","gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":160,"wires":[]},{"id":"85aae8cf.e9dd28","type":"ui_text","z":"341a471.8adb6b8","group":"ed2e081d.740808","order":2,"width":"6","height":"1","name":"全体参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":770,"y":120,"wires":[]},{"id":"bc9a08d1.b63f78","type":"ui_chart","z":"341a471.8adb6b8","name":"全体参加者推移","group":"ed2e081d.740808","order":4,"width":"6","height":"4","label":"参加者推移","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":200,"wires":[[]]},{"id":"82491999.370228","type":"comment","z":"341a471.8adb6b8","name":"全体","info":"","x":70,"y":80,"wires":[]},{"id":"877ce54c.8e93b8","type":"http request","z":"a9b2da71.71ff88","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":300,"wires":[["7dbcdea8.0d913","a7ff4e91.ae28f"]]},{"id":"c75a5824.1ea3a8","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["a2ecf9b1.42cb58"]]},{"id":"3c4f0aa3.efdf26","type":"template","z":"a9b2da71.71ff88","name":"get meeting details","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.zoom.us/v2/metrics/meetings/{{meeting}}","output":"str","x":150,"y":160,"wires":[["c75a5824.1ea3a8"]]},{"id":"7dbcdea8.0d913","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.participants","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["d2cd65b.6ea0798"]]},{"id":"4cbcc5c.4213b3c","type":"template","z":"a9b2da71.71ff88","name":"","field":"headers.authorization","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bearer {{token}}","output":"str","x":320,"y":300,"wires":[["877ce54c.8e93b8"]]},{"id":"a7ff4e91.ae28f","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"statusCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[[]]},{"id":"b9a03ef7.7cda1","type":"ui_template","z":"d42bbd3b.c8901","group":"baf8365a.f75578","name":"L1テキスト","order":1,"width":"4","height":"2","format":"<h3 class=\"nr-dashboard-cardtitle\">大会場L1</h3>\n<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":770,"y":300,"wires":[[]]},{"id":"58306d7e.b5f3e4","type":"inject","z":"d42bbd3b.c8901","name":"準備中","topic":"l1","payload":"953 2585 1364","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["26e51321.70d2dc"]]},{"id":"6190415f.051df","type":"comment","z":"d42bbd3b.c8901","name":"大会場L1","info":"","x":100,"y":60,"wires":[]},{"id":"473b1b9b.ab8224","type":"ui_text","z":"d42bbd3b.c8901","group":"baf8365a.f75578","order":2,"width":0,"height":0,"name":"L1参加者","label":"参加者","format":"{{msg.payload}} 人","layout":"row-spread","x":640,"y":140,"wires":[]},{"id":"8e949e45.6c90e","type":"ui_gauge","z":"d42bbd3b.c8901","name":"L1ゲージ","group":"baf8365a.f75578","order":3,"width":"0","height":"0","gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":180,"wires":[]},{"id":"54a505aa.84281c","type":"comment","z":"f6654017.66c04","name":"A会場","info":"","x":90,"y":60,"wires":[]},{"id":"bac7bef7.c416b","type":"ui_text","z":"f6654017.66c04","group":"726f9524.2071cc","order":3,"width":0,"height":0,"name":"A参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":780,"y":160,"wires":[]},{"id":"91a4e37d.ec58c","type":"ui_gauge","z":"f6654017.66c04","d":true,"name":"Aゲージ","group":"726f9524.2071cc","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":200,"wires":[]},{"id":"1d93c26e.c3811e","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["1ff24a7.9a804b6"]]},{"id":"1ff24a7.9a804b6","type":"subflow:a9b2da71.71ff88","z":"f6654017.66c04","x":460,"y":180,"wires":[["bac7bef7.c416b","91a4e37d.ec58c"],[]]},{"id":"a2ecf9b1.42cb58","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOm51bGwsImlzcyI6Im02Wm9McmNwVGV1U2ZXNzM1QzA4dHciLCJleHAiOjE1OTM0NDI4MDAsImlhdCI6MTU5MTMyNTE0MH0.xLBdbuOOecqUSck28NUHcSTxWZK5QIKv4mQKIuTaRL4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":300,"wires":[["4cbcc5c.4213b3c"]]},{"id":"5c158c98.fc7cc4","type":"inject","z":"d42bbd3b.c8901","name":"6/25 招待講演","topic":"l1","payload":"945 9943 8769","payloadType":"str","repeat":"","crontab":"00 15 * * 4","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["25187561.3ec66a"]]},{"id":"3e6f3e85.9e7162","type":"inject","z":"d42bbd3b.c8901","name":"","topic":"l1","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["664663fb.a0dcac"]]},{"id":"664663fb.a0dcac","type":"subflow:a9b2da71.71ff88","z":"d42bbd3b.c8901","name":"","x":400,"y":160,"wires":[["8e949e45.6c90e","473b1b9b.ab8224"],["3f115134.ac3fae"]]},{"id":"27bb69a1.93c016","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["1cd561fc.ae8c5e"]]},{"id":"4bb6706b.e155c","type":"comment","z":"f6654017.66c04","name":"B会場","info":"","x":70,"y":900,"wires":[]},{"id":"1cd561fc.ae8c5e","type":"function","z":"341a471.8adb6b8","name":"参加者数集計","func":"var num = 0;\nvar counts = [\"counta\", \"countb\", \"countc\", \"countd\",\n    \"counte\", \"countf\", \"countg\", \"counth\", \n    \"countl1\", \"countl2\"];\n\ncounts.forEach(key => {\n    if (global.get(key)){num += global.get(key)};\n    });\nmsg.payload = num;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["85aae8cf.e9dd28","ba4c404a.236f3","bc9a08d1.b63f78","cdf60b8e.4feef8"]]},{"id":"cdf60b8e.4feef8","type":"debug","z":"341a471.8adb6b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":280,"wires":[]},{"id":"7e18a2df.ce9a1c","type":"ui_template","z":"341a471.8adb6b8","group":"ed2e081d.740808","name":"全体テキスト","order":1,"width":"6","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":380,"wires":[[]]},{"id":"4fa9cf96.29364","type":"comment","z":"d42bbd3b.c8901","name":"大会場L2","info":"","x":100,"y":640,"wires":[]},{"id":"13666394.1288cc","type":"ui_template","z":"d42bbd3b.c8901","group":"baf8365a.f75578","name":"L2テキスト","order":5,"width":"4","height":"2","format":"<h3 class=\"nr-dashboard-cardtitle\">大会場L2</h3>\n<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":840,"wires":[[]]},{"id":"c34d88c5.5a8388","type":"inject","z":"d42bbd3b.c8901","name":"準備中","topic":"l2","payload":"956 2871 1318","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":820,"wires":[["7cd56fa5.4acc5"]]},{"id":"b3e31b7.20274e8","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":595,"y":880,"wires":[["13666394.1288cc"]],"l":false},{"id":"52ded336.073e1c","type":"ui_text","z":"d42bbd3b.c8901","group":"baf8365a.f75578","order":6,"width":0,"height":0,"name":"L2参加者","label":"参加者","format":"{{msg.payload}} 人","layout":"row-spread","x":640,"y":700,"wires":[]},{"id":"f17c7151.4801f","type":"ui_gauge","z":"d42bbd3b.c8901","name":"L2ゲージ","group":"baf8365a.f75578","order":7,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":740,"wires":[]},{"id":"ff4e6eb9.d9ebf","type":"inject","z":"d42bbd3b.c8901","name":"6/25 デモセッション全体","topic":"l2","payload":"956 2871 1318","payloadType":"str","repeat":"","crontab":"00 16 * * 4","once":false,"onceDelay":0.1,"x":160,"y":880,"wires":[["27216a11.ccf9f6"]]},{"id":"46454491.a8736c","type":"inject","z":"d42bbd3b.c8901","name":"","topic":"l2","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":720,"wires":[["ba1c3006.74714"]]},{"id":"ba1c3006.74714","type":"subflow:a9b2da71.71ff88","z":"d42bbd3b.c8901","name":"","x":420,"y":720,"wires":[["f17c7151.4801f","52ded336.073e1c"],[]]},{"id":"427e273.7ce6cd8","type":"inject","z":"f6654017.66c04","name":"準備中","topic":"a","payload":"910 0586 9408","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["bd698ee2.b8cd5"]]},{"id":"54f56f84.8452d","type":"ui_template","z":"f6654017.66c04","group":"726f9524.2071cc","name":"Aテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":300,"wires":[[]]},{"id":"91aeb96d.d4d688","type":"ui_text","z":"f6654017.66c04","group":"9075b242.6357","order":2,"width":0,"height":0,"name":"B参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":760,"y":940,"wires":[]},{"id":"41e003b9.fff24c","type":"ui_gauge","z":"f6654017.66c04","d":true,"name":"Bゲージ","group":"9075b242.6357","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":980,"wires":[]},{"id":"3b7841d7.31ae1e","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":960,"wires":[["e7a8e233.e3c0b"]]},{"id":"e7a8e233.e3c0b","type":"subflow:a9b2da71.71ff88","z":"f6654017.66c04","x":440,"y":960,"wires":[["91aeb96d.d4d688","41e003b9.fff24c"],[]]},{"id":"e33e536.ed2e5b","type":"inject","z":"f6654017.66c04","name":"準備中","topic":"b","payload":"914 1876 7450","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1060,"wires":[["14a6f8c4.ceb7c7"]]},{"id":"f6eb8517.865a18","type":"ui_template","z":"f6654017.66c04","group":"9075b242.6357","name":"Bテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":1100,"wires":[[]]},{"id":"f8fd2860.518978","type":"function","z":"a9b2da71.71ff88","name":"set meeting id","func":"var name = \"meeting\" + msg.topic;\nif (global.get(name)) {\n    msg.meeting = global.get(name);\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["3c4f0aa3.efdf26"]]},{"id":"d2cd65b.6ea0798","type":"function","z":"a9b2da71.71ff88","name":"set global count","func":"var name = \"count\" + msg.topic;\nglobal.set(name, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":480,"wires":[[]]},{"id":"4de79b6c.ef3334","type":"inject","z":"d42bbd3b.c8901","name":"6/24 開会式","topic":"l1","payload":"953 2585 1364","payloadType":"str","repeat":"","crontab":"00 12 * * 3","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["b58cf65.add2108"]]},{"id":"73050ecb.7e72","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":615,"y":320,"wires":[["b9a03ef7.7cda1"]],"l":false},{"id":"8201598c.21a968","type":"inject","z":"d42bbd3b.c8901","name":"6/24 情報交換会","topic":"l1","payload":"915 0253 9056","payloadType":"str","repeat":"","crontab":"00 19 * * 3","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["e516ccef.d0a2f"]]},{"id":"362d6f43.dd6b7","type":"inject","z":"d42bbd3b.c8901","name":"6/26 閉会式","topic":"l1","payload":"976 7399 7333","payloadType":"str","repeat":"","crontab":"00 12 * * 5","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["873a37a0.fd87c8"]]},{"id":"bdd3d5c4.6d2778","type":"function","z":"8231f940.1fe3b8","name":"set global meeting id","func":"var meetingkey = \"meeting\" + msg.topic;\n// remove space\nmsg.payload = msg.payload.replace(/\\s+/g, '');\nglobal.set(meetingkey, msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["c6d54358.9e8fc"]]},{"id":"accc5268.00987","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":490,"y":320,"wires":[["73050ecb.7e72"]]},{"id":"d934630f.e6ab3","type":"template","z":"8231f940.1fe3b8","name":"set url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://zoom.us/j/{{payload}}","output":"str","x":310,"y":300,"wires":[["4843b498.e2caec"]]},{"id":"bd698ee2.b8cd5","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":370,"y":300,"wires":[["38948036.282f"]]},{"id":"64547984.043fb8","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":260,"wires":[["b9a03ef7.7cda1"]],"l":false},{"id":"26e51321.70d2dc","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":410,"y":260,"wires":[["64547984.043fb8"]]},{"id":"4843b498.e2caec","type":"template","z":"8231f940.1fe3b8","name":"set zoom link","field":"link","fieldType":"msg","format":"html","syntax":"mustache","template":"(<a href=\"{{{url}}}\" target=\"_blank\">Zoom</a>)","output":"str","x":470,"y":220,"wires":[[]]},{"id":"dc05ede9.7bc24","type":"inject","z":"d42bbd3b.c8901","name":"6/25ナイトテクニカルセッション","topic":"l1","payload":"96800511828","payloadType":"str","repeat":"","crontab":"00 19 * * 4","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["dc4d3ba4.05da58"]]},{"id":"7cd56fa5.4acc5","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":430,"y":820,"wires":[["5c3e7281.c36bac"]]},{"id":"5c3e7281.c36bac","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":575,"y":820,"wires":[["13666394.1288cc"]],"l":false},{"id":"a18175a2.6a2098","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":460,"y":880,"wires":[["b3e31b7.20274e8"]]},{"id":"38948036.282f","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":300,"wires":[["54f56f84.8452d"]],"l":false},{"id":"2b750696.dc216a","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"13:50- 1A ヒューマンセントリックセンシング","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":230,"y":420,"wires":[["66724ff8.e16cd"]]},{"id":"2cd5180c.417ac8","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":570,"y":340,"wires":[["c2d08e05.59bcb"]]},{"id":"c2d08e05.59bcb","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":715,"y":340,"wires":[["54f56f84.8452d"]],"l":false},{"id":"14a6f8c4.ceb7c7","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":310,"y":1060,"wires":[["49b65ab5.f00a44"]]},{"id":"c6d54358.9e8fc","type":"switch","z":"8231f940.1fe3b8","name":"","property":"url","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":220,"wires":[["4843b498.e2caec"],["d934630f.e6ab3"]]},{"id":"b58cf65.add2108","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/95325851364?pwd=QWVkcWFhWmhZN0ZQNHFWdkxuLys1UT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"13:00- 開会式","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":320,"wires":[["accc5268.00987"]],"l":false},{"id":"e516ccef.d0a2f","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/91502539056?pwd=Y3ZMWkhrLzJUZjhrVGRuMDR5SXRlZz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"20:00- 情報交換会メイン","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":360,"wires":[["accc5268.00987"]],"l":false},{"id":"25187561.3ec66a","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/94599438769?pwd=Wk5KMEdWeXYrYnArQlRMRnIyblZZUT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"15:50- 特別招待講演","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":420,"wires":[["accc5268.00987"]],"l":false},{"id":"dc4d3ba4.05da58","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/96800511828?pwd=Vmtvd1lZTnRUWDZjQ0VZbGZNb3Rqdz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"20:00- ナイトテクニカルセッション","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":460,"wires":[["accc5268.00987"]],"l":false},{"id":"873a37a0.fd87c8","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/97673997333?pwd=OStpb1F4TWJZSml2dWp3M1pLMWpYQT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"14:10- 閉会式・表彰式","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":520,"wires":[["accc5268.00987"]],"l":false},{"id":"27216a11.ccf9f6","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/95628711318?pwd=UHJRMzVoa2dHdHdVYWlBeGdQWUhqZz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"17:30- デモセッション全体","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":880,"wires":[["a18175a2.6a2098"]],"l":false},{"id":"66724ff8.e16cd","type":"change","z":"f6654017.66c04","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/91005869408?pwd=VGk3dW5weXFPekJMcHJuNDVmWkphdz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"91005869408","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":340,"wires":[["2cd5180c.417ac8"]],"l":false},{"id":"4d9dfd9f.f44334","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"15:50- 2A DPS統一テーマ","payloadType":"str","repeat":"","crontab":"00 15 * * 3","once":false,"onceDelay":0.1,"x":160,"y":460,"wires":[["66724ff8.e16cd"]]},{"id":"49b65ab5.f00a44","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":540,"y":1060,"wires":[["f6eb8517.865a18"]]},{"id":"85ec26ac.bb8c58","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"15:50- 2B  歩行軌跡","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":140,"y":1140,"wires":[["3f277711.4e1fe8"]]},{"id":"af032081.7ec0e","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":510,"y":1140,"wires":[["1862af96.7496f"]]},{"id":"1862af96.7496f","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":655,"y":1140,"wires":[["f6eb8517.865a18"]],"l":false},{"id":"3f277711.4e1fe8","type":"change","z":"f6654017.66c04","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/91418767450?pwd=UTFnQjVqemUycEtQZE1iSHdqRDJjZz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"914 1876 7450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":1140,"wires":[["af032081.7ec0e"]],"l":false},{"id":"fca8ed51.ea5d1","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"17:50- 3B  行動認識１","payloadType":"str","repeat":"","crontab":"30 17 * * 3","once":false,"onceDelay":0.1,"x":150,"y":1180,"wires":[["3f277711.4e1fe8"]]},{"id":"fcf567ee.269c98","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["66724ff8.e16cd"]]},{"id":"a5db0dab.6f24e","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"注意","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["e47acb7f.563e98"]]},{"id":"9422f0b1.378ed","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"17:50- 3A MBL統一テーマセッション","payloadType":"str","repeat":"","crontab":"30 17 * * 3","once":false,"onceDelay":0.1,"x":200,"y":500,"wires":[["66724ff8.e16cd"]]},{"id":"7d35ee84.62d48","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"8:50- 4A スマートモビリティ","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["66724ff8.e16cd"]]},{"id":"ed3dfd5b.ff21b","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"10:30- 5A CSEC/SPT統一テーマセッション","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":220,"y":620,"wires":[["66724ff8.e16cd"]]},{"id":"a60e80b3.38849","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"14:10- 6A  コンテンツと人","payloadType":"str","repeat":"","crontab":"30 12 * * 4","once":false,"onceDelay":0.1,"x":160,"y":660,"wires":[["66724ff8.e16cd"]]},{"id":"57803c25.303284","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"18:00- DS-1 Smart Layer Splitter：pix2pixを用いたデジタルイラスト制作の色塗り工程における自動レイヤ分けシステム","payloadType":"str","repeat":"","crontab":"30 17 * * 4","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["66724ff8.e16cd"]]},{"id":"cc81d8ad.bfa698","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"8:30- 7A  ネットワークサービス","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["66724ff8.e16cd"]]},{"id":"979daf14.77181","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"10:30- 8A  IOT統一テーマセッション","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":200,"y":780,"wires":[["66724ff8.e16cd"]]},{"id":"a00bdf1c.7f9f2","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"8:30- 4B  行動認識２","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":150,"y":1260,"wires":[["3f277711.4e1fe8"]]},{"id":"4b9f5702.e01c38","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":140,"y":1220,"wires":[["3f277711.4e1fe8"]]},{"id":"566c20a2.ec2fe","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"10:30- 5B  位置情報","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":140,"y":1300,"wires":[["3f277711.4e1fe8"]]},{"id":"508b87.f8f65478","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"14:10- 6B  調理・食事行動","payloadType":"str","repeat":"","crontab":"30 12 * * 4","once":false,"onceDelay":0.1,"x":160,"y":1340,"wires":[["3f277711.4e1fe8"]]},{"id":"16af7282.1135fd","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"18:00- DS-2 ワンタイム顔画像生成に基づく画像認証手法","payloadType":"str","repeat":"","crontab":"30 17 * * 4","once":false,"onceDelay":0.1,"x":90,"y":1380,"wires":[["3f277711.4e1fe8"]]},{"id":"54bc9285.32055c","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"8:30- 7B  ユビキタス応用","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":160,"y":1420,"wires":[["3f277711.4e1fe8"]]},{"id":"ea5c0750.b53088","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"10:30- 8B  ロボットアプリケーション","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":200,"y":1460,"wires":[["3f277711.4e1fe8"]]},{"id":"9e5f2ad3.c48ce8","type":"comment","z":"fa8c934.f6f4f7","name":"C会場","info":"","x":90,"y":60,"wires":[]},{"id":"fd6ea256.344e1","type":"ui_text","z":"fa8c934.f6f4f7","group":"e0edd77b.215408","order":3,"width":0,"height":0,"name":"C参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":780,"y":100,"wires":[]},{"id":"a5eacd8e.10fe8","type":"ui_gauge","z":"fa8c934.f6f4f7","d":true,"name":"Cゲージ","group":"e0edd77b.215408","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":140,"wires":[]},{"id":"38231cc2.169bc4","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["aa52be6f.8bf0d"]]},{"id":"aa52be6f.8bf0d","type":"subflow:a9b2da71.71ff88","z":"fa8c934.f6f4f7","x":460,"y":120,"wires":[["fd6ea256.344e1","a5eacd8e.10fe8"],[]]},{"id":"75f22dcf.919ab4","type":"inject","z":"fa8c934.f6f4f7","name":"準備中","topic":"c","payload":"971 2967 2285","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["664e06ba.bb99c8"]]},{"id":"4eacc522.c9c5cc","type":"ui_template","z":"fa8c934.f6f4f7","group":"e0edd77b.215408","name":"Cテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":220,"wires":[[]]},{"id":"664e06ba.bb99c8","type":"subflow:8231f940.1fe3b8","z":"fa8c934.f6f4f7","name":"","x":370,"y":220,"wires":[["f17fe1b3.48eca"]]},{"id":"f17fe1b3.48eca","type":"template","z":"fa8c934.f6f4f7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":220,"wires":[["4eacc522.c9c5cc"]],"l":false},{"id":"a6dc67d6.a56158","type":"subflow:8231f940.1fe3b8","z":"fa8c934.f6f4f7","name":"","x":570,"y":260,"wires":[["a755357a.726eb8"]]},{"id":"a755357a.726eb8","type":"template","z":"fa8c934.f6f4f7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":715,"y":260,"wires":[["4eacc522.c9c5cc"]],"l":false},{"id":"dcbfdbba.905418","type":"change","z":"fa8c934.f6f4f7","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/97129672285?pwd=VUZXSVVneXJRTHNDdVhaa2NKY2Q5dz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"971 2967 2285","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[["a6dc67d6.a56158"]],"l":false},{"id":"c6a9b4.d476165","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["dcbfdbba.905418"]]},{"id":"12ab0a30.e99886","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"17:50- 3C  センシング技術","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":160,"y":420,"wires":[["dcbfdbba.905418"]]},{"id":"f9415fd6.60a99","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"8:30- 4C  スポーツ","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["dcbfdbba.905418"]]},{"id":"a79d3c4.1d6e0c","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"10:30- 5C  ヘルスケア","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["dcbfdbba.905418"]]},{"id":"3d76eb9d.5ec534","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"14:10- 6C  時空間","payloadType":"str","repeat":"","crontab":"30 12 * * 4","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["dcbfdbba.905418"]]},{"id":"78ee26a0.491c68","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"18:00- DS-3 歩行リハビリ及び介護を支援するインタラクティブ映像の提案","payloadType":"str","repeat":"","crontab":"30 17 * * 4","once":false,"onceDelay":0.1,"x":90,"y":620,"wires":[["dcbfdbba.905418"]]},{"id":"497e841a.83590c","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"8:30- 7C  スマートセンシング","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["dcbfdbba.905418"]]},{"id":"9fb5935c.aa9c7","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"c","payload":"10:30- 8C  作業・学習支援","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":160,"y":700,"wires":[["dcbfdbba.905418"]]},{"id":"4fb5c744.294a08","type":"inject","z":"d42bbd3b.c8901","name":"","topic":"l2","payload":"接続確認","payloadType":"str","repeat":"","crontab":"00 12 * * 3","once":false,"onceDelay":0.1,"x":110,"y":920,"wires":[["9b678a90.6a16a8"]]},{"id":"9b678a90.6a16a8","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/94624013044?pwd=NldTbFArK3NUbzhiR3FsVS9wMEFIQT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"946 2401 3044","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":920,"wires":[["a18175a2.6a2098"]],"l":false},{"id":"b67a0e9a.7c6f","type":"inject","z":"d42bbd3b.c8901","name":"","topic":"l2","payload":"接続確認","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":110,"y":960,"wires":[["9b678a90.6a16a8"]]},{"id":"c5e226e2.bd3e68","type":"inject","z":"d42bbd3b.c8901","name":"","topic":"l2","payload":"接続確認","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":110,"y":1000,"wires":[["9b678a90.6a16a8"]]},{"id":"46c61274.5b4b8c","type":"ui_text","z":"fa8c934.f6f4f7","group":"f6dc8741.27ace8","order":3,"width":0,"height":0,"name":"D参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":760,"y":880,"wires":[]},{"id":"40ef1490.ef6b7c","type":"ui_gauge","z":"fa8c934.f6f4f7","d":true,"name":"Dゲージ","group":"f6dc8741.27ace8","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":920,"wires":[]},{"id":"95873b27.c6f648","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":900,"wires":[["af7355ff.3f5068"]]},{"id":"af7355ff.3f5068","type":"subflow:a9b2da71.71ff88","z":"fa8c934.f6f4f7","x":440,"y":900,"wires":[["46c61274.5b4b8c","40ef1490.ef6b7c"],[]]},{"id":"4363fbe4.9d7c24","type":"inject","z":"fa8c934.f6f4f7","name":"準備中","topic":"d","payload":"951 5256 1828","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1020,"wires":[["b4a2f1d8.2b82"]]},{"id":"1c3137e1.27ae88","type":"ui_template","z":"fa8c934.f6f4f7","group":"f6dc8741.27ace8","name":"Dテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":1020,"wires":[[]]},{"id":"b4a2f1d8.2b82","type":"subflow:8231f940.1fe3b8","z":"fa8c934.f6f4f7","name":"","x":350,"y":1020,"wires":[["3be2a527.a68c3a"]]},{"id":"3be2a527.a68c3a","type":"template","z":"fa8c934.f6f4f7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":595,"y":1020,"wires":[["1c3137e1.27ae88"]],"l":false},{"id":"b717509.575b2b","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"13:50- 1D  分散処理1","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":130,"y":1140,"wires":[["419a9df3.0af244"]]},{"id":"74c8ee89.4184e","type":"subflow:8231f940.1fe3b8","z":"fa8c934.f6f4f7","name":"","x":550,"y":1060,"wires":[["cc746967.cf25d8"]]},{"id":"cc746967.cf25d8","type":"template","z":"fa8c934.f6f4f7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":695,"y":1060,"wires":[["1c3137e1.27ae88"]],"l":false},{"id":"419a9df3.0af244","type":"change","z":"fa8c934.f6f4f7","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/95152561828?pwd=b1VCVkw5VGlCT05lUTVxNkQ4RCtVUT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"951 5256 1828","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":1060,"wires":[["74c8ee89.4184e"]],"l":false},{"id":"46d3f936.2c25e8","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":120,"y":1260,"wires":[["419a9df3.0af244"]]},{"id":"f05d0057.0d688","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"17:50- 3D  IoT (1)","payloadType":"str","repeat":"","crontab":"30 15 * * 3","once":false,"onceDelay":0.1,"x":120,"y":1220,"wires":[["419a9df3.0af244"]]},{"id":"bdceda16.c32138","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"8:30- 4D  Webサービス・ネットワークシステム","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":210,"y":1300,"wires":[["419a9df3.0af244"]]},{"id":"746d496.a3098b8","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"10:30- 5D  行動認識・予測","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":150,"y":1340,"wires":[["419a9df3.0af244"]]},{"id":"d46ce8dd.f50948","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"14:10- 6D  クラウド・エッジコンピューティング","payloadType":"str","repeat":"","crontab":"30 12 * * 4","once":false,"onceDelay":0.1,"x":220,"y":1380,"wires":[["419a9df3.0af244"]]},{"id":"34a221cf.dc461e","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"18:00- DS-4 AIによるセキュリティ情報解析支援システムの提案","payloadType":"str","repeat":"","crontab":"30 17 * * 4","once":false,"onceDelay":0.1,"x":70,"y":1420,"wires":[["419a9df3.0af244"]]},{"id":"cbf0ec56.b0b96","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"8:30- 7D  分散処理2","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":120,"y":1460,"wires":[["419a9df3.0af244"]]},{"id":"e6b74e33.e5411","type":"inject","z":"fa8c934.f6f4f7","name":"","topic":"d","payload":"10:30- 8D  無線通信・ネットワーク応用","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":190,"y":1500,"wires":[["419a9df3.0af244"]]},{"id":"ec825198.c405f","type":"comment","z":"fa8c934.f6f4f7","name":"D会場","info":"","x":90,"y":820,"wires":[]},{"id":"3f115134.ac3fae","type":"debug","z":"d42bbd3b.c8901","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":240,"wires":[]},{"id":"a113e96b.f1d528","type":"ui_text","z":"d04513a0.86fb6","group":"8ea25c89.61e76","order":3,"width":0,"height":0,"name":"E参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":780,"y":100,"wires":[]},{"id":"dd67781b.8b4258","type":"ui_gauge","z":"d04513a0.86fb6","d":true,"name":"Eゲージ","group":"8ea25c89.61e76","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":140,"wires":[]},{"id":"cf6dbf66.62b27","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["c6a0afa9.8e231"]]},{"id":"c6a0afa9.8e231","type":"subflow:a9b2da71.71ff88","z":"d04513a0.86fb6","x":460,"y":120,"wires":[["a113e96b.f1d528","dd67781b.8b4258"],[]]},{"id":"b58b606.1feb7a","type":"inject","z":"d04513a0.86fb6","name":"準備中","topic":"e","payload":"942 7527 2847","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["c4ee7ecd.2ee04"]]},{"id":"a9cf7ec8.c433b","type":"ui_template","z":"d04513a0.86fb6","group":"8ea25c89.61e76","name":"Eテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":240,"wires":[[]]},{"id":"c4ee7ecd.2ee04","type":"subflow:8231f940.1fe3b8","z":"d04513a0.86fb6","name":"","x":370,"y":240,"wires":[["9a876ca.08d859"]]},{"id":"9a876ca.08d859","type":"template","z":"d04513a0.86fb6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":240,"wires":[["a9cf7ec8.c433b"]],"l":false},{"id":"53f909ac.44e7e8","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"13:50- 1E  情報管理","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["e487dd35.40682"]]},{"id":"deac07a.83dadf8","type":"subflow:8231f940.1fe3b8","z":"d04513a0.86fb6","name":"","x":570,"y":280,"wires":[["73ff5a5c.6579a4"]]},{"id":"73ff5a5c.6579a4","type":"template","z":"d04513a0.86fb6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":715,"y":280,"wires":[["a9cf7ec8.c433b"]],"l":false},{"id":"e487dd35.40682","type":"change","z":"d04513a0.86fb6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/94275272847?pwd=aTRqWjNYNWNiNktwZHZLTlB1WDgxQT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"942 7527 2847","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":280,"wires":[["deac07a.83dadf8"]],"l":false},{"id":"7ba8922.7cd106c","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"15:50- 2E  無線","payloadType":"str","repeat":"","crontab":"00 15 * * 3","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["e487dd35.40682"]]},{"id":"2af72b94.692504","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["e487dd35.40682"]]},{"id":"bc9e5d23.eb341","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"17:50- 3E  社会・システム","payloadType":"str","repeat":"","crontab":"30 17 * * 3","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["e487dd35.40682"]]},{"id":"720bfbc9.5380c4","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"8:50- 4E  ネットワーク・セキュリティ","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":200,"y":520,"wires":[["e487dd35.40682"]]},{"id":"a3d9beda.f525","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"10:30- 5E  人と家","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["e487dd35.40682"]]},{"id":"207017e4.240448","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"14:10- 6E  BLEビーコン","payloadType":"str","repeat":"","crontab":"30 12 * * 4","once":false,"onceDelay":0.1,"x":160,"y":600,"wires":[["e487dd35.40682"]]},{"id":"8228d603.8054e8","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"18:00- ドキドキをセンシングして可視化するLEDライティングデバイス","payloadType":"str","repeat":"","crontab":"30 17 * * 4","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["e487dd35.40682"]]},{"id":"4fc475db.ea05ec","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"8:30- 7E  行動認識３","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":150,"y":680,"wires":[["e487dd35.40682"]]},{"id":"53485f3d.f5eba","type":"inject","z":"d04513a0.86fb6","name":"","topic":"e","payload":"10:30- 8E  観光と移動","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":150,"y":720,"wires":[["e487dd35.40682"]]},{"id":"7c75e32f.8df32c","type":"comment","z":"d04513a0.86fb6","name":"E会場","info":"","x":90,"y":40,"wires":[]},{"id":"cf6d99b9.795e88","type":"ui_text","z":"d04513a0.86fb6","group":"dea56d69.07e58","order":3,"width":0,"height":0,"name":"F参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":780,"y":880,"wires":[]},{"id":"90fdbd75.1fe76","type":"ui_gauge","z":"d04513a0.86fb6","d":true,"name":"Fゲージ","group":"dea56d69.07e58","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":920,"wires":[]},{"id":"620c607b.d6ca5","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":900,"wires":[["de2aea59.d87178"]]},{"id":"de2aea59.d87178","type":"subflow:a9b2da71.71ff88","z":"d04513a0.86fb6","x":460,"y":900,"wires":[["cf6d99b9.795e88","90fdbd75.1fe76"],[]]},{"id":"611e6dbb.105504","type":"inject","z":"d04513a0.86fb6","name":"準備中","topic":"f","payload":"953 5839 8011","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1020,"wires":[["5cc8d122.aa781"]]},{"id":"acd57a28.166f08","type":"ui_template","z":"d04513a0.86fb6","group":"dea56d69.07e58","name":"Fテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":1020,"wires":[[]]},{"id":"5cc8d122.aa781","type":"subflow:8231f940.1fe3b8","z":"d04513a0.86fb6","name":"","x":370,"y":1020,"wires":[["f44e4c08.b2efd"]]},{"id":"f44e4c08.b2efd","type":"template","z":"d04513a0.86fb6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":1020,"wires":[["acd57a28.166f08"]],"l":false},{"id":"ea4fea85.a7f7b8","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"13:50- 1F  対話支援","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":140,"y":1140,"wires":[["7db4c225.c1f39c"]]},{"id":"e15445fe.ca8448","type":"subflow:8231f940.1fe3b8","z":"d04513a0.86fb6","name":"","x":570,"y":1060,"wires":[["fd320744.1a37a8"]]},{"id":"fd320744.1a37a8","type":"template","z":"d04513a0.86fb6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":715,"y":1060,"wires":[["acd57a28.166f08"]],"l":false},{"id":"7db4c225.c1f39c","type":"change","z":"d04513a0.86fb6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/95358398011?pwd=Rkc2K1B0L3c4M0hMTm5COEZPK0VCUT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"953 5839 8011","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":1060,"wires":[["e15445fe.ca8448"]],"l":false},{"id":"e96bb2d3.f1042","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"15:50- 2F  予測・推定","payloadType":"str","repeat":"","crontab":"00 15 * * 3","once":false,"onceDelay":0.1,"x":150,"y":1180,"wires":[["7db4c225.c1f39c"]]},{"id":"63aa47ef.875048","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":140,"y":1260,"wires":[["7db4c225.c1f39c"]]},{"id":"2760235c.1bc60c","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"17:50- 3F  意思決定支援","payloadType":"str","repeat":"","crontab":"30 17 * * 3","once":false,"onceDelay":0.1,"x":160,"y":1220,"wires":[["7db4c225.c1f39c"]]},{"id":"1e44dab5.fef3f5","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"8:50- 4F  コミュニケーション","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":170,"y":1300,"wires":[["7db4c225.c1f39c"]]},{"id":"e11e2fb0.94776","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"10:30- 5F  遠隔地・仮想空間","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":170,"y":1340,"wires":[["7db4c225.c1f39c"]]},{"id":"12e6fddc.660792","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"14:10- 6F  車車間通信とITS一般","payloadType":"str","repeat":"","crontab":"30 12 * * 4","once":false,"onceDelay":0.1,"x":180,"y":1380,"wires":[["7db4c225.c1f39c"]]},{"id":"baf46de8.08bf7","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"8:30- 7F  測位・経路推薦・ナビ","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":180,"y":1460,"wires":[["7db4c225.c1f39c"]]},{"id":"f188a421.2e1fc8","type":"inject","z":"d04513a0.86fb6","name":"","topic":"f","payload":"10:30- 8F  自動運転","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":140,"y":1500,"wires":[["7db4c225.c1f39c"]]},{"id":"facba4b9.d9a398","type":"comment","z":"d04513a0.86fb6","name":"F会場","info":"","x":110,"y":820,"wires":[]},{"id":"aefae5e9.dff418","type":"ui_text","z":"3944cb24.e17094","group":"ed6a8f5b.c16f4","order":3,"width":0,"height":0,"name":"G参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":780,"y":80,"wires":[]},{"id":"b5d9a038.97d1c","type":"ui_gauge","z":"3944cb24.e17094","d":true,"name":"Gゲージ","group":"ed6a8f5b.c16f4","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":120,"wires":[]},{"id":"941e851e.e77c58","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["f45145ab.388f48"]]},{"id":"f45145ab.388f48","type":"subflow:a9b2da71.71ff88","z":"3944cb24.e17094","x":460,"y":100,"wires":[["aefae5e9.dff418","b5d9a038.97d1c"],[]]},{"id":"6398ecd.e6c3314","type":"inject","z":"3944cb24.e17094","name":"準備中","topic":"g","payload":"939 0392 9203","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["2b9964b3.5e44fc"]]},{"id":"612f1927.2e27c8","type":"ui_template","z":"3944cb24.e17094","group":"ed6a8f5b.c16f4","name":"Gテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":220,"wires":[[]]},{"id":"2b9964b3.5e44fc","type":"subflow:8231f940.1fe3b8","z":"3944cb24.e17094","name":"","x":370,"y":220,"wires":[["f70918b3.77da68"]]},{"id":"f70918b3.77da68","type":"template","z":"3944cb24.e17094","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":220,"wires":[["612f1927.2e27c8"]],"l":false},{"id":"91af329a.ec92a","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"13:50- 1G  認識・認証","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["6ee141cc.a52f3"]]},{"id":"ba1af9b9.bfa6c8","type":"subflow:8231f940.1fe3b8","z":"3944cb24.e17094","name":"","x":570,"y":260,"wires":[["32f1f433.5563cc"]]},{"id":"32f1f433.5563cc","type":"template","z":"3944cb24.e17094","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":715,"y":260,"wires":[["612f1927.2e27c8"]],"l":false},{"id":"6ee141cc.a52f3","type":"change","z":"3944cb24.e17094","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/93903929203?pwd=QUl6QjBoWUJodlRSZHpxUDc3T0Z6QT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"939 0392 9203","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":260,"wires":[["ba1af9b9.bfa6c8"]],"l":false},{"id":"76d4ea56.120e84","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"15:50- 2G  プライバシ・匿名化","payloadType":"str","repeat":"","crontab":"00 15 * * 3","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["6ee141cc.a52f3"]]},{"id":"6e5ee4ed.6827fc","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["6ee141cc.a52f3"]]},{"id":"b9d01542.fa5f28","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"17:50- 3G  分析","payloadType":"str","repeat":"","crontab":"30 17 * * 3","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["6ee141cc.a52f3"]]},{"id":"20d1ddef.9dbd72","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"8:30- 4G  暗号技術","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["6ee141cc.a52f3"]]},{"id":"cc4066aa.b784a8","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"10:30- 5G  IoT (2)","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["6ee141cc.a52f3"]]},{"id":"7368ab40.7f6354","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"14:10- 6G  エッジ・AI","payloadType":"str","repeat":"","crontab":"30 12 * * 4","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["6ee141cc.a52f3"]]},{"id":"e6363cd8.57764","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"8:30- 7G  セキュリティ応用","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["6ee141cc.a52f3"]]},{"id":"9e900504.2dd598","type":"inject","z":"3944cb24.e17094","name":"","topic":"g","payload":"10:30- 8G  セキュリティ心理学・ユーザブルセキュリティ","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["6ee141cc.a52f3"]]},{"id":"5f944a4f.050b74","type":"comment","z":"3944cb24.e17094","name":"G会場","info":"","x":90,"y":40,"wires":[]},{"id":"ae291439.d23be8","type":"ui_text","z":"3944cb24.e17094","group":"17780cdc.5cd803","order":3,"width":0,"height":0,"name":"H参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":780,"y":840,"wires":[]},{"id":"eb3d4245.62b5e","type":"ui_gauge","z":"3944cb24.e17094","d":true,"name":"Hゲージ","group":"17780cdc.5cd803","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":880,"wires":[]},{"id":"a08649f.2e183b8","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":860,"wires":[["d63c3.705d9c3d8"]]},{"id":"d63c3.705d9c3d8","type":"subflow:a9b2da71.71ff88","z":"3944cb24.e17094","x":460,"y":860,"wires":[["ae291439.d23be8","eb3d4245.62b5e"],[]]},{"id":"29969c47.fda594","type":"inject","z":"3944cb24.e17094","name":"準備中","topic":"h","payload":"966 0850 1557","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":980,"wires":[["1f741fde.a4fce"]]},{"id":"d800c3e3.5e508","type":"ui_template","z":"3944cb24.e17094","group":"17780cdc.5cd803","name":"Hテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":980,"wires":[[]]},{"id":"1f741fde.a4fce","type":"subflow:8231f940.1fe3b8","z":"3944cb24.e17094","name":"","x":370,"y":980,"wires":[["87978c82.3ece7"]]},{"id":"87978c82.3ece7","type":"template","z":"3944cb24.e17094","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":980,"wires":[["d800c3e3.5e508"]],"l":false},{"id":"94cde618.c7a438","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"13:50- 1H  行動認識・分析","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":170,"y":1100,"wires":[["bcb4512d.ba9be"]]},{"id":"11ae086d.7d8a88","type":"subflow:8231f940.1fe3b8","z":"3944cb24.e17094","name":"","x":570,"y":1020,"wires":[["3ba1e454.8ae8ac"]]},{"id":"3ba1e454.8ae8ac","type":"template","z":"3944cb24.e17094","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":715,"y":1020,"wires":[["d800c3e3.5e508"]],"l":false},{"id":"bcb4512d.ba9be","type":"change","z":"3944cb24.e17094","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/96608501557?pwd=RjVER3VLY0xxQ0RrMEgyQ0tkVDJ1Zz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"966 0850 1557","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":1020,"wires":[["11ae086d.7d8a88"]],"l":false},{"id":"3da26776.3180e8","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"15:50- 2H  医療・ヘルスケア","payloadType":"str","repeat":"","crontab":"00 15 * * 3","once":false,"onceDelay":0.1,"x":170,"y":1140,"wires":[["bcb4512d.ba9be"]]},{"id":"cb84b495.59ffd8","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"00 20 * * 3","once":false,"onceDelay":0.1,"x":140,"y":1220,"wires":[["bcb4512d.ba9be"]]},{"id":"13c51dcc.b3a4f2","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"17:50- 3H  ウェアラブルシステム","payloadType":"str","repeat":"","crontab":"30 17 * * 3","once":false,"onceDelay":0.1,"x":190,"y":1180,"wires":[["bcb4512d.ba9be"]]},{"id":"460ccf3d.5407b","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"8:30- 4H  生活支援・デバイス","payloadType":"str","repeat":"","crontab":"00 08 * * 4","once":false,"onceDelay":0.1,"x":180,"y":1260,"wires":[["bcb4512d.ba9be"]]},{"id":"45711e22.2c5b2","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"10:30- 5H  推薦技術","payloadType":"str","repeat":"","crontab":"00 10 * * 4","once":false,"onceDelay":0.1,"x":140,"y":1300,"wires":[["bcb4512d.ba9be"]]},{"id":"9419ae08.1631f","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"8:30- 7H  映像音声コンテンツ","payloadType":"str","repeat":"","crontab":"00 08 * * 5","once":false,"onceDelay":0.1,"x":180,"y":1420,"wires":[["bcb4512d.ba9be"]]},{"id":"beb0f93.337bc08","type":"inject","z":"3944cb24.e17094","name":"","topic":"h","payload":"10:30- 8H  システム制作","payloadType":"str","repeat":"","crontab":"00 10 * * 5","once":false,"onceDelay":0.1,"x":160,"y":1460,"wires":[["bcb4512d.ba9be"]]},{"id":"5bc0ef40.9ebf5","type":"comment","z":"3944cb24.e17094","name":"H会場","info":"","x":90,"y":800,"wires":[]},{"id":"4c9e15d5.f902ec","type":"template","z":"a9b2da71.71ff88","name":"get meetings","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.zoom.us/v2/metrics/meetings","output":"str","x":130,"y":200,"wires":[["c75a5824.1ea3a8"]]},{"id":"e47acb7f.563e98","type":"template","z":"341a471.8adb6b8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<ul>\n<li>参加者数は累積なので実際とは異なる場合があります</li>\n<li>Zoomなどのパスワードの漏えいにはご注意ください</li>\n</ul>\n","output":"str","x":300,"y":440,"wires":[["7e18a2df.ce9a1c"]]}]