data/flows.json
[{"id":"341a471.8adb6b8","type":"tab","label":"全体","disabled":false,"info":""},{"id":"d42bbd3b.c8901","type":"tab","label":"大会場","disabled":false,"info":""},{"id":"f6654017.66c04","type":"tab","label":"A,B","disabled":false,"info":""},{"id":"d04513a0.86fb6","type":"tab","label":"E,F,G,H","disabled":false,"info":""},{"id":"a9b2da71.71ff88","type":"subflow","name":"参加者数取得","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"f8fd2860.518978"}]}],"out":[{"x":720,"y":420,"wires":[{"id":"7dbcdea8.0d913","port":0}]},{"x":740,"y":280,"wires":[{"id":"877ce54c.8e93b8","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["参加者数","デバッグ"],"status":{"x":740,"y":360,"wires":[{"id":"a7ff4e91.ae28f","port":0}]}},{"id":"8231f940.1fe3b8","type":"subflow","name":"ミーティングID設定","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"bdd3d5c4.6d2778"}]}],"out":[{"x":620,"y":220,"wires":[{"id":"4843b498.e2caec","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"22c56202.05a22e","type":"ui_tab","z":"","name":"DICOMO2020 Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed2e081d.740808","type":"ui_group","z":"","name":"全体状況","tab":"22c56202.05a22e","order":1,"disp":true,"width":"6","collapse":false},{"id":"565368d5.055898","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"DICOMO2020ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"baf8365a.f75578","type":"ui_group","z":"","name":"大会場L1","tab":"22c56202.05a22e","order":2,"disp":true,"width":"4","collapse":false},{"id":"726f9524.2071cc","type":"ui_group","z":"","name":"A会場","tab":"22c56202.05a22e","order":4,"disp":true,"width":"4","collapse":false},{"id":"cc6afab7.7738e8","type":"ui_group","z":"","name":"大会場L2","tab":"22c56202.05a22e","order":3,"disp":true,"width":"4","collapse":true},{"id":"9075b242.6357","type":"ui_group","z":"","name":"B会場","tab":"22c56202.05a22e","order":5,"disp":true,"width":"4","collapse":false},{"id":"b39c405.50aedc","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"準備中","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["7e18a2df.ce9a1c"]]},{"id":"ba4c404a.236f3","type":"ui_gauge","z":"341a471.8adb6b8","name":"全体ゲージ","group":"ed2e081d.740808","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":160,"wires":[]},{"id":"85aae8cf.e9dd28","type":"ui_text","z":"341a471.8adb6b8","group":"ed2e081d.740808","order":2,"width":0,"height":0,"name":"全体参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":770,"y":120,"wires":[]},{"id":"bc9a08d1.b63f78","type":"ui_chart","z":"341a471.8adb6b8","name":"全体参加者推移","group":"ed2e081d.740808","order":4,"width":0,"height":0,"label":"参加者推移","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":200,"wires":[[]]},{"id":"82491999.370228","type":"comment","z":"341a471.8adb6b8","name":"全体","info":"","x":70,"y":80,"wires":[]},{"id":"877ce54c.8e93b8","type":"http request","z":"a9b2da71.71ff88","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":300,"wires":[["7dbcdea8.0d913","a7ff4e91.ae28f"]]},{"id":"c75a5824.1ea3a8","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["a2ecf9b1.42cb58"]]},{"id":"3c4f0aa3.efdf26","type":"template","z":"a9b2da71.71ff88","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.zoom.us/v2/metrics/meetings/{{meeting}}","output":"str","x":180,"y":160,"wires":[["c75a5824.1ea3a8"]]},{"id":"7dbcdea8.0d913","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.participants","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["d2cd65b.6ea0798"]]},{"id":"4cbcc5c.4213b3c","type":"template","z":"a9b2da71.71ff88","name":"","field":"headers.authorization","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Bearer {{token}}","output":"str","x":320,"y":300,"wires":[["877ce54c.8e93b8"]]},{"id":"a7ff4e91.ae28f","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"statusCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[[]]},{"id":"b9a03ef7.7cda1","type":"ui_template","z":"d42bbd3b.c8901","group":"baf8365a.f75578","name":"L1テキスト","order":1,"width":"4","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":770,"y":300,"wires":[[]]},{"id":"58306d7e.b5f3e4","type":"inject","z":"d42bbd3b.c8901","name":"準備中","topic":"l1","payload":"953 2585 1364","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["26e51321.70d2dc"]]},{"id":"6190415f.051df","type":"comment","z":"d42bbd3b.c8901","name":"大会場L1","info":"","x":100,"y":60,"wires":[]},{"id":"473b1b9b.ab8224","type":"ui_text","z":"d42bbd3b.c8901","group":"baf8365a.f75578","order":2,"width":0,"height":0,"name":"L1参加者","label":"参加者","format":"{{msg.payload}} 人","layout":"row-spread","x":640,"y":140,"wires":[]},{"id":"8e949e45.6c90e","type":"ui_gauge","z":"d42bbd3b.c8901","name":"L1ゲージ","group":"baf8365a.f75578","order":3,"width":"0","height":"0","gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":180,"wires":[]},{"id":"54a505aa.84281c","type":"comment","z":"f6654017.66c04","name":"A会場","info":"","x":90,"y":60,"wires":[]},{"id":"bac7bef7.c416b","type":"ui_text","z":"f6654017.66c04","group":"726f9524.2071cc","order":3,"width":0,"height":0,"name":"A参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":780,"y":160,"wires":[]},{"id":"91a4e37d.ec58c","type":"ui_gauge","z":"f6654017.66c04","name":"Aゲージ","group":"726f9524.2071cc","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":200,"wires":[]},{"id":"1d93c26e.c3811e","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["1ff24a7.9a804b6"]]},{"id":"1ff24a7.9a804b6","type":"subflow:a9b2da71.71ff88","z":"f6654017.66c04","x":460,"y":180,"wires":[["bac7bef7.c416b","91a4e37d.ec58c"],[]]},{"id":"a2ecf9b1.42cb58","type":"change","z":"a9b2da71.71ff88","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOm51bGwsImlzcyI6Im02Wm9McmNwVGV1U2ZXNzM1QzA4dHciLCJleHAiOjE1OTM0NDI4MDAsImlhdCI6MTU5MTMyNTE0MH0.xLBdbuOOecqUSck28NUHcSTxWZK5QIKv4mQKIuTaRL4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":300,"wires":[["4cbcc5c.4213b3c"]]},{"id":"5c158c98.fc7cc4","type":"inject","z":"d42bbd3b.c8901","name":"6/25 招待講演","topic":"l1","payload":"945 9943 8769","payloadType":"str","repeat":"","crontab":"00 15 * * 4","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["25187561.3ec66a"]]},{"id":"3e6f3e85.9e7162","type":"inject","z":"d42bbd3b.c8901","name":"","topic":"l1","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["664663fb.a0dcac"]]},{"id":"664663fb.a0dcac","type":"subflow:a9b2da71.71ff88","z":"d42bbd3b.c8901","name":"","x":400,"y":160,"wires":[["8e949e45.6c90e","473b1b9b.ab8224"],[]]},{"id":"27bb69a1.93c016","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["1cd561fc.ae8c5e"]]},{"id":"4bb6706b.e155c","type":"comment","z":"f6654017.66c04","name":"B会場","info":"","x":70,"y":740,"wires":[]},{"id":"1cd561fc.ae8c5e","type":"function","z":"341a471.8adb6b8","name":"参加者数集計","func":"var num = 0;\nvar counts = [\"counta\", \"countb\", \"countc\", \"countd\",\n    \"counte\", \"countf\", \"countg\", \"counth\", \n    \"countl1\", \"countl2\"];\n\ncounts.forEach(key => {\n    if (global.get(key)){num += global.get(key)};\n    });\nmsg.payload = num;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["85aae8cf.e9dd28","ba4c404a.236f3","bc9a08d1.b63f78","cdf60b8e.4feef8"]]},{"id":"cdf60b8e.4feef8","type":"debug","z":"341a471.8adb6b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":280,"wires":[]},{"id":"7e18a2df.ce9a1c","type":"ui_template","z":"341a471.8adb6b8","group":"ed2e081d.740808","name":"全体テキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":380,"wires":[[]]},{"id":"4fa9cf96.29364","type":"comment","z":"d42bbd3b.c8901","name":"大会場L2","info":"","x":100,"y":640,"wires":[]},{"id":"13666394.1288cc","type":"ui_template","z":"d42bbd3b.c8901","group":"cc6afab7.7738e8","name":"L2テキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":840,"wires":[[]]},{"id":"c34d88c5.5a8388","type":"inject","z":"d42bbd3b.c8901","name":"準備中","topic":"l2","payload":"956 2871 1318","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":820,"wires":[["7cd56fa5.4acc5"]]},{"id":"b3e31b7.20274e8","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"17:30- デモセッション {{{link}}}","output":"str","x":575,"y":880,"wires":[["13666394.1288cc"]],"l":false},{"id":"52ded336.073e1c","type":"ui_text","z":"d42bbd3b.c8901","group":"cc6afab7.7738e8","order":2,"width":0,"height":0,"name":"L2参加者","label":"参加者","format":"{{msg.payload}} 人","layout":"row-spread","x":640,"y":700,"wires":[]},{"id":"f17c7151.4801f","type":"ui_gauge","z":"d42bbd3b.c8901","name":"L2ゲージ","group":"cc6afab7.7738e8","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":740,"wires":[]},{"id":"ff4e6eb9.d9ebf","type":"inject","z":"d42bbd3b.c8901","name":"6/25 デモセッションメイン","topic":"l2","payload":"956 2871 1318","payloadType":"str","repeat":"","crontab":"00 16 * * 4","once":false,"onceDelay":0.1,"x":160,"y":880,"wires":[["27216a11.ccf9f6"]]},{"id":"46454491.a8736c","type":"inject","z":"d42bbd3b.c8901","name":"","topic":"l2","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":720,"wires":[["ba1c3006.74714"]]},{"id":"ba1c3006.74714","type":"subflow:a9b2da71.71ff88","z":"d42bbd3b.c8901","name":"","x":420,"y":720,"wires":[["f17c7151.4801f","52ded336.073e1c"],[]]},{"id":"427e273.7ce6cd8","type":"inject","z":"f6654017.66c04","name":"準備中","topic":"a","payload":"910 0586 9408","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["bd698ee2.b8cd5"]]},{"id":"54f56f84.8452d","type":"ui_template","z":"f6654017.66c04","group":"726f9524.2071cc","name":"Aテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":830,"y":360,"wires":[[]]},{"id":"91aeb96d.d4d688","type":"ui_text","z":"f6654017.66c04","group":"9075b242.6357","order":2,"width":0,"height":0,"name":"B参加者","label":"参加者","format":"{{msg.payload}}人","layout":"row-spread","x":760,"y":780,"wires":[]},{"id":"41e003b9.fff24c","type":"ui_gauge","z":"f6654017.66c04","name":"Bゲージ","group":"9075b242.6357","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"人","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":820,"wires":[]},{"id":"3b7841d7.31ae1e","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":800,"wires":[["e7a8e233.e3c0b"]]},{"id":"e7a8e233.e3c0b","type":"subflow:a9b2da71.71ff88","z":"f6654017.66c04","x":440,"y":800,"wires":[["91aeb96d.d4d688","41e003b9.fff24c"],[]]},{"id":"e33e536.ed2e5b","type":"inject","z":"f6654017.66c04","name":"準備中","topic":"b","payload":"914 1876 7450","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":940,"wires":[["14a6f8c4.ceb7c7"]]},{"id":"f6eb8517.865a18","type":"ui_template","z":"f6654017.66c04","group":"9075b242.6357","name":"Bテキスト","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":810,"y":980,"wires":[[]]},{"id":"f8fd2860.518978","type":"function","z":"a9b2da71.71ff88","name":"set meeting id","func":"var name = \"meeting\" + msg.topic;\nif (global.get(name)) {\n    msg.meeting = global.get(name);\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["3c4f0aa3.efdf26"]]},{"id":"d2cd65b.6ea0798","type":"function","z":"a9b2da71.71ff88","name":"set global count","func":"var name = \"count\" + msg.topic;\nglobal.set(name, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":480,"wires":[[]]},{"id":"4de79b6c.ef3334","type":"inject","z":"d42bbd3b.c8901","name":"6/24 開会式","topic":"l1","payload":"953 2585 1364","payloadType":"str","repeat":"","crontab":"00 12 * * 3","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["b58cf65.add2108"]]},{"id":"73050ecb.7e72","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":615,"y":320,"wires":[["b9a03ef7.7cda1"]],"l":false},{"id":"8201598c.21a968","type":"inject","z":"d42bbd3b.c8901","name":"6/24 情報交換会","topic":"l1","payload":"915 0253 9056","payloadType":"str","repeat":"","crontab":"00 19 * * 3","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["e516ccef.d0a2f"]]},{"id":"362d6f43.dd6b7","type":"inject","z":"d42bbd3b.c8901","name":"6/26 閉会式","topic":"l1","payload":"976 7399 7333","payloadType":"str","repeat":"","crontab":"00 12 * * 5","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["873a37a0.fd87c8"]]},{"id":"bdd3d5c4.6d2778","type":"function","z":"8231f940.1fe3b8","name":"set global meeting id","func":"var meetingkey = \"meeting\" + msg.topic;\n// remove space\nmsg.payload = msg.payload.replace(/\\s+/g, '');\nglobal.set(meetingkey, msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["c6d54358.9e8fc"]]},{"id":"accc5268.00987","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":490,"y":320,"wires":[["73050ecb.7e72"]]},{"id":"d934630f.e6ab3","type":"template","z":"8231f940.1fe3b8","name":"set url","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://zoom.us/j/{{payload}}","output":"str","x":310,"y":300,"wires":[["4843b498.e2caec"]]},{"id":"bd698ee2.b8cd5","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":370,"y":360,"wires":[["38948036.282f"]]},{"id":"64547984.043fb8","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":260,"wires":[["b9a03ef7.7cda1"]],"l":false},{"id":"26e51321.70d2dc","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":410,"y":260,"wires":[["64547984.043fb8"]]},{"id":"4843b498.e2caec","type":"template","z":"8231f940.1fe3b8","name":"set zoom link","field":"link","fieldType":"msg","format":"html","syntax":"mustache","template":"(<a href=\"{{{url}}}\" target=\"_blank\">Zoom</a>)","output":"str","x":470,"y":220,"wires":[[]]},{"id":"dc05ede9.7bc24","type":"inject","z":"d42bbd3b.c8901","name":"6/25ナイトテクニカルセッション","topic":"l1","payload":"96800511828","payloadType":"str","repeat":"","crontab":"00 19 * * 4","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["dc4d3ba4.05da58"]]},{"id":"7cd56fa5.4acc5","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":430,"y":820,"wires":[["5c3e7281.c36bac"]]},{"id":"5c3e7281.c36bac","type":"template","z":"d42bbd3b.c8901","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":575,"y":820,"wires":[["13666394.1288cc"]],"l":false},{"id":"a18175a2.6a2098","type":"subflow:8231f940.1fe3b8","z":"d42bbd3b.c8901","name":"","x":450,"y":880,"wires":[["b3e31b7.20274e8"]]},{"id":"38948036.282f","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":615,"y":360,"wires":[["54f56f84.8452d"]],"l":false},{"id":"2b750696.dc216a","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"13:50- 1A ヒューマンセントリックセンシング","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":230,"y":480,"wires":[["66724ff8.e16cd"]]},{"id":"2cd5180c.417ac8","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":570,"y":400,"wires":[["c2d08e05.59bcb"]]},{"id":"c2d08e05.59bcb","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":715,"y":400,"wires":[["54f56f84.8452d"]],"l":false},{"id":"14a6f8c4.ceb7c7","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":310,"y":940,"wires":[["49b65ab5.f00a44"]]},{"id":"c6d54358.9e8fc","type":"switch","z":"8231f940.1fe3b8","name":"","property":"url","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":220,"wires":[["4843b498.e2caec"],["d934630f.e6ab3"]]},{"id":"b58cf65.add2108","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/95325851364?pwd=QWVkcWFhWmhZN0ZQNHFWdkxuLys1UT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"13:00- 開会式","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":320,"wires":[["accc5268.00987"]],"l":false},{"id":"e516ccef.d0a2f","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/91502539056?pwd=Y3ZMWkhrLzJUZjhrVGRuMDR5SXRlZz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"19:30- 情報交換会メイン","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":360,"wires":[["accc5268.00987"]],"l":false},{"id":"25187561.3ec66a","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/94599438769?pwd=Wk5KMEdWeXYrYnArQlRMRnIyblZZUT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"15:50- 特別招待講演","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":420,"wires":[["accc5268.00987"]],"l":false},{"id":"dc4d3ba4.05da58","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/96800511828?pwd=Vmtvd1lZTnRUWDZjQ0VZbGZNb3Rqdz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"20:00- ナイトテクニカルセッション","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":460,"wires":[["accc5268.00987"]],"l":false},{"id":"873a37a0.fd87c8","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/97673997333?pwd=OStpb1F4TWJZSml2dWp3M1pLMWpYQT09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"14:10- 閉会式・表彰式","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":255,"y":520,"wires":[["accc5268.00987"]],"l":false},{"id":"27216a11.ccf9f6","type":"change","z":"d42bbd3b.c8901","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/95628711318?pwd=UHJRMzVoa2dHdHdVYWlBeGdQWUhqZz09","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":880,"wires":[["a18175a2.6a2098"]],"l":false},{"id":"66724ff8.e16cd","type":"change","z":"f6654017.66c04","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/91005869408?pwd=VGk3dW5weXFPekJMcHJuNDVmWkphdz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"91005869408","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":400,"wires":[["2cd5180c.417ac8"]],"l":false},{"id":"4d9dfd9f.f44334","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"15:50- 2A DPS統一テーマ","payloadType":"str","repeat":"","crontab":"00 15 * * 3","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["66724ff8.e16cd"]]},{"id":"49b65ab5.f00a44","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"準備中","output":"str","x":540,"y":940,"wires":[["f6eb8517.865a18"]]},{"id":"85ec26ac.bb8c58","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"15:50- 2B ","payloadType":"str","repeat":"","crontab":"30 13 * * 3","once":false,"onceDelay":0.1,"x":110,"y":1020,"wires":[["3f277711.4e1fe8"]]},{"id":"af032081.7ec0e","type":"subflow:8231f940.1fe3b8","z":"f6654017.66c04","name":"","x":510,"y":1020,"wires":[["1862af96.7496f"]]},{"id":"1862af96.7496f","type":"template","z":"f6654017.66c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{session}} {{{link}}}","output":"str","x":655,"y":1020,"wires":[["f6eb8517.865a18"]],"l":false},{"id":"3f277711.4e1fe8","type":"change","z":"f6654017.66c04","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"https://zoom.us/j/91418767450?pwd=UTFnQjVqemUycEtQZE1iSHdqRDJjZz09","tot":"str"},{"t":"set","p":"session","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"914 1876 7450","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":1020,"wires":[["af032081.7ec0e"]],"l":false},{"id":"fca8ed51.ea5d1","type":"inject","z":"f6654017.66c04","name":"","topic":"b","payload":"17:50- 3B","payloadType":"str","repeat":"","crontab":"30 17 * * 3","once":false,"onceDelay":0.1,"x":110,"y":1060,"wires":[["3f277711.4e1fe8"]]},{"id":"fcf567ee.269c98","type":"inject","z":"f6654017.66c04","name":"","topic":"a","payload":"20:00- 情報交換会","payloadType":"str","repeat":"","crontab":"30 19 * * 3","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["66724ff8.e16cd"]]},{"id":"a5db0dab.6f24e","type":"inject","z":"341a471.8adb6b8","name":"","topic":"","payload":"Zoomのパスワード等の漏洩にはご注意ください。","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["7e18a2df.ce9a1c"]]}]